* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#mainContainer {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}

#counterBox {
  height: 200px;
  width: 200px;
  background-color: rgb(248, 80, 248);
  position: relative;
  border-radius: 10px;
}

h1 {
  color: rgb(248, 80, 248);
}

.btns {
  background-color: rgb(7, 0, 0);
  position: absolute;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  transition: all 0.4s;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.8);
  }
}

#plus {
  bottom: 0;
  right: -40px;
}

#minus {
  left: -40px;
  bottom: 0;
}

#reset {
  position: absolute;
  padding: 5px 10px;
  right: 0px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(245, 230, 20);
}

#reset i {
  display: inline-block;
  font-size: 22px;
  font-weight: 900;
  transition: all 0.8s ease-out;

  &:hover {
    transform: rotate(360deg);
  }

  &:active {
    transform: scale(0.8);
  }
}

#countValue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
}